	/* Raleway */
	@import url("https://fonts.googleapis.com/css?family=Raleway:800,700,600,400,300,200,100");


    html, body {
		font-size: 1em;
	}

	body{
        margin: 2em auto;
        text-align: center;
	}
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Playfair Display', serif;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 2em;
    }
    p{
        font-family:'Raleway', sans-serif;
        font-size: 15;

    }

	img {
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -webkit-user-drag: none;
	    user-drag: none;
	}

	a{
		font-family: 'Raleway', sans-serif;
        text-decoration:none;
		outline:none;
	}

	a:hover,
	a:active,
	a:focus
	{
		text-decoration:none;
		outline:none;
		color: #505050;
	}

	.clear{
		clear:both;
	}

	ol, ul{
		list-style:none;
		font-family:'Raleway', sans-serif;
		font-size: 15;
	}

	.no-padding{
		padding:0 !important;
	}

	.no-margin{
		margin:0 !important;
	}

	.no-border{
		border: none !important;
		border-style: none !important;
	}

    .logo{
        justify-content: center;
        align-items: center;
        height: 38px;
        padding-bottom: .5em;
    }


/* alignments
-------------------------*/

	.float-l{
		float: left !important;
	}

	.float-r{
		float: right !important;
	}
	.bottom{
		vertical-align: bottom;
	}

/* Font Weight
-------------------------*/

	.ultrabold{
		font-weight: 900;
	}

	.extrabold{
		font-weight: 800;
	}

	.bold{
		font-weight: 700;
	}

	.semibold{
		font-weight: 600;
	}

	.normal{
		font-weight: 400;
	}

	.light{
		font-weight: 300;
	}

	.lighter{
		font-weight: 100;
	}


/* Font Colors
-------------------------*/

	.dark{
		color: #777777;
	}

	.white{
		color: #e5e5e5;
	}

	.gray1{
		color: #777777;
	}

	.gray2{
		color: #505050;
	}

	/* Footer start */
footer{
	font:
	z-index: 100;
	position: fixed;
	height: 5em;
	left:0;
	bottom:0;
	width: 100%;
	background-image: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,0) 100%)
}

	.footer-links{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.footer-button{
		padding-top:1em;
		border: 1px solid grey;
		border-radius: 2em;
		margin-right: 1em;
	}
	.footer-button:hover{
		background-color: #d3d3d3;
	}

	.social-menu li a:before {
			font-family: 'Fontawesome';
			-webkit-font-smoothing: antialiased;
	 }
	 /*-- add in 			content: '\f08e'; to social-menu li a:before if you want all links to have icons--*/

	.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

	.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

	.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }

	.social-menu li a[href*="youtube.com"]::before { content: '\f167'; }


	.social-menu ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}


	.menu ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
	}

	.menu li a {
			display: block;
			text-decoration: none;
			color: grey;
			padding: .6em 1em;
			font-weight: inherit !important;
	}/*footer end*/
